@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  /* Colors */

  /* Box Shadows */
  --shadow-primary: box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
  /* Box Shadows */

  /* Fonts */
  --font-Morrabba: "Morrabba";
  --font-MorrabbaMedium: "Morrabba Medium";
  --font-MorrabbaBold: "Morrabba Bold";
  --font-Dana: "Dana";
  --font-DanaMedium: "Dana Medium";
  --font-DanaDemibold: "Dana DemiBold";
  /* Fonts */

  /* BreakPoints */
  --breakpoint-xs: 480px;
  --breakpoint-2xl: initial;
  /* BreakPoints */
}

@font-face {
  font-family: "Dana";
  src: url(../fonts/Dana/woff2/DanaFaNum-Regular.woff2) format("woff2");
  font-display: "swap";
}

@font-face {
  font-family: "Dana Medium";
  src: url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
  font-display: "swap";
}

@font-face {
  font-family: "Dana DemiBold";
  src: url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2) format("woff2");
  font-display: "swap";
}

@font-face {
  font-family: "Morrabba";
  src: url(../fonts/Morabba/woff2/Morabba-Light.woff2) format("woff2");
  font-display: "swap";
}

@font-face {
  font-family: "Morrabba Medium";
  src: url(../fonts/Morabba/woff2/Morabba-Medium.woff2) format("woff2");
  font-display: "swap";
}

@font-face {
  font-family: "Morrabba Bold";
  src: url(../fonts/Morabba/woff2/Morabba-Bold.woff2) format("woff2");
  font-display: "swap";
}

@layer utilities {
  .container {
    @apply mx-auto px-4 lg:px-2;
  }
}

@layer components {
  .mobile-nav-item--active {
    @apply text-orange-300;
  }

  .mobile-nav-submenu {
    @apply hidden mt-3 flex-col items-end gap-y-3 pr-7 text-sm text-zinc-600 dark:text-white;
  }

  .mobile-nav-submenu--active {
    display: flex;
  }

  .mobile-nav-submenu li {
    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
      color: #fdba74;

      &::after {
        content: "";
        width: 4px;
        height: 4px;
        background-color: #fdba74;
        border-radius: 100%;
      }
    }
  }

  .circle {
    @apply border border-white rounded-full hidden md:flex justify-center items-center;
  }

  .circle-lg {
    @apply absolute size-50.75 border-white/25 bottom-0 left-0 right-0 mx-auto translate-y-1/2;
  }

  .circle-md {
    @apply size-36.25;
  }

  .circle-sm {
    @apply size-24;
  }

  .line::after {
    @apply content-[''] absolute sm:w-16.75 md:w-22 xs:w-13 w-10 h-px bg-red-500 left-0 sm:bottom-2 md:bottom-2.5 xs:bottom-3 bottom-2;
  }

  .custom-scrollbar {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }

  @media screen and (min-width: 1024px) {
    html.dark .products {
      background-image: url(../image/body-bg.png);
    }

    .products {
      background:
        linear-gradient(rgba(243, 244, 246, 0.2)),
        linear-gradient(rgba(243, 244, 246, 0.2)), url(../image/body-bg.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  .category-left,
  .category-right {
    @apply lg:w-auto sm:w-8/10 w-full lg:mx-0 mx-auto lg:h-62 md:h-56 sm:h-48 xs:h-40 h-35.5 bg-cover bg-no-repeat flex justify-center items-start flex-col sm:pr-12 pr-7 rounded-2xl text-white;
  }

  .category-left {
    background:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(../image/categories/category-right.jpg);
  }

  .category-right {
    background:
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url(../image/categories/category-left.jpg);
  }

  .coffee-club {
    @apply w-full md:h-36 flex md:flex-row flex-col justify-between md:items-center rounded-2xl xl:px-11 md:py-0 py-8 md:px-5 px-3 gap-y-8 text-white;
    background: linear-gradient(90deg, #10b981 0%, #059669 100%);
  }

  .coffee-club-btn {
    @apply xs:w-27.5 xs:h-8 h-7 w-22 pt-0.75 pr-0.75 sm:mt-2 xs:text-sm text-xs;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(infinity * 1px);
    background: linear-gradient(270deg, #fdba74 0%, #fed7aa 100%);
  }

  .services {
    position: relative;
  }

  .services::after,
  .services::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    margin: auto;
    background-color: #d1d5db;
  }

  .services::after {
    width: calc(100% - 32px);
    height: 1px;
  }

  .services::before {
    width: 1px;
    height: calc(100% + 24px);
  }

  html.dark .services::after,
  html.dark .services::before {
    background-color: rgba(255, 255, 255, 0.1);
  }

  @media screen and (min-width: 640px) {
    .services::after,
    .services::before {
      content: none;
    }

    .footer-list li::before {
      width: 10px;
      height: 4px;
      right: -25px;
    }
  }

  .footer-list {
    & li::before {
      content: "";
      position: absolute;
      background-color: #d9d9d9;
      width: 8px;
      height: 4px;
      border-radius: 23px;
      bottom: 10px;
      right: -15px;
    }

    & li:hover::before {
      background-color: #fdba74;
    }
  }
}
